.App {
 text-align: center;
 display: flex;
}
.squre{
  width:100px;
  height: 100px;
  margin-right: 2px;
  background-color: bisque;
  color: crimson;
}
.bord{
  display: flex;
  margin-bottom: auto;
}
.holebord{
 margin-top: 10px;
 margin-left: 400px;  
}